body{
    text-align: center;
}
.title{
    font-size: 80px;
    font-weight: 800;
}

.title1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

h2{
    font-size: 40px;
    font-weight: 400;
    color: indigo;
    padding: 10px;
    background-color: burlywood;
}

p{
    color: red;
}

ol{
    color: green;
    padding: auto;
}

ul{
    color: white;
    background-color: wheat;
    padding: auto;
}

.back{
    background-color: burlywood;
    font-size: 30px;
}